	clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.container {
	
}

.sidebar {
	
	width: 20%;
	margin: 0 2% 0 0;
	float: left;
	overflow: hidden;
	border: none;
	opacity: 1;
}

.content {
	background-color: #FFF;
	width: 70%;
	float: left;
}

section img{
	max-width: 100%;
}

.projects {
	height: 200px;
	width: 240px;
	background-color: rgba(0, 0, 0, 0.8);
	margin: 0 10px 10px 0;

	box-shadow: 3px 3px 4px #CCC;
	box-shadow: 3px 3px 4px #CCC;
	box-shadow: 3px 3px 4px #CCC;
	
	float: left;
	overflow: hidden;
	
	transition: opacity .4s ease-in-out;
	transition: opacity .4s ease-in-out;
	opacity: 1;	
}



section article:hover {
	opacity: .5;
	
}

section article.span-first:hover {
	opacity: 1;
}


nav ul li a {
	font-family: 'Baskerville', arial, serif;
	font-size: 80%;
	line-height: 50%;
	color: #404040;
	text-decoration: none;
}

nav ul li {
	list-style-type:none;
	height: 1%;
	margin-top: 10%;
	text-align: right;
}

nav ul {
	
}

nav ul li a:hover {
	color: #00b5b6;
}

nav ul li a.on {
	color: #00b5b6;
}


section article.content {
	float: left;
	max-width: 50%;
	
}

article.info-me
    float: left;
	

header.logo {
	float: left
	width: 70%;


}

header {
	height: 200%;
    margin-left:6%;
}

p {
	font-family: 'Helvetica', arial, serif;
	font-size: 11px;
	line-height: 14px;
	width: 240px;
	margin: 0 0 0 5px;
	float: left

}

div.break{
	height:220px;
	}
	

footer{
float: left;



}



#copyright{
	font-family:'Baskerville';
	font-size:.73em;
	margin:10px 0px 0px 0px;
	color: #00b5b6;
	}
