	clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.container {
	
}

.sidebar {
	
	width: 20%;
	margin: 0 2% 0 0;
	float: left;
	overflow: hidden;
	border: none;
	opacity: 1;
}

.content {
	background-color: #FFF;
	width: 60%;
	float: left;
}

section img{
	max-width: 100%;
}

.projects {
	height: 200px;
	width: 240px;
	background-color: rgba(0, 0, 0, 0.8);
	margin: 0px 10px 10px 0px;


	box-shadow: 3px 3px 4px #CCC;
	box-shadow: 3px 3px 4px #CCC;
	box-shadow: 3px 3px 4px #CCC;
	
	float:left;
    overflow: hidden;
	
	transition: opacity .4s ease-in-out;
	transition: opacity .4s ease-in-out;
	opacity: 1;	
}



section article:hover {
	opacity: .5;
	
}

section article.span-first:hover {
	opacity: 1;
}


nav ul li a {
	font-family: 'Baskerville', arial, serif;
	font-size: 80%;
	line-height: 50%;
	color: #404040;
	text-decoration: none;
}

nav ul li {
	list-style-type:none;
	margin: 4%;
	text-align: right;
}

nav ul {
	
}

nav ul li a:hover {
	color: #00b5b6;
}

nav ul li a.on {
	color: #00b5b6;
}


section article.content {
	float: left;
	max-width: 50%;
	
}

article.info-me {
	float:left;
	margin-left: 30%
}

article.photo {
	float: left;
	width: 60%;
	margin:1%;
}

header.logo {
	float: left
	
}

header {
	height: 100%;
    margin-left: 7%;
   
}

p {
	font-family: 'Helvetica', arial, serif;
	font-size: 11px;
	line-height: 14px;
	width: 240px;
	margin: 0 0 0 5px;
	float: left

}

div.break{
	height:220px;
	}
	

footer{
float: left;



}



#copyright{
	font-family:'Baskerville';
	font-size:.73em;
	margin-left: 240%;
	color: #00b5b6;
	}
