* {
margin: 0;
padding: 0;
}

/* CLEARFIX  */
	clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.container {
	margin: auto;
}

.sidebar {
	height: 620px;
	width: 180px;
	margin: 0 10px 0 0;
	float: left;
	overflow: hidden;
	border: none;
	opacity: 1;
}

.content {
	width: 750px;
	float: left;
}

.projects {
	height: 200px;
	width: 240px;
	background-color: rgba(0, 0, 0, 0.8);
	margin: 0 10px 10px 0;

	box-shadow: 3px 3px 4px #CCC;
	box-shadow: 3px 3px 4px #CCC;
	box-shadow: 3px 3px 4px #CCC;
	
	float: left;
	overflow: hidden;
	
	transition: opacity .4s ease-in-out;
	transition: opacity .4s ease-in-out;
	opacity: 1;	
}



section article:hover {
	opacity: .5;
	
}

section article.span-first:hover {
	opacity: 1;
}


nav ul li a {
	font-family: 'Josefin Sans', arial, serif;
	font-size: 15px;
	line-height: 40px;
	color: gray;
	text-decoration: none;
}

nav ul li {
	list-style-type:none;
	margin: 0px;
	text-align: right;
}

nav ul {
	margin: 10px 10px 0 0;
}

nav ul li a:hover {
	color: babyblue;
}

nav ul li a.on {
	color: gray;
}


section article.content {
	float: left;
	height: 600px;
	width: 740px;
	
}

header.logotype {
	float: left;

}

header {
	height: 200px;
}

p {
	font-family: 'Helvetica', arial, serif;
	font-size: 11px;
	line-height: 14px;
	width: 240px;
	margin: 0 0 0 5px;
	float: left;

}